$def with (content)
<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    
    <title>${options.name + " - " + content.title}</title>
    <link rel="shortcut icon" href="/static/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="/static/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/static/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/static/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/static/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/static/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/static/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/static/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/static/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/static/favicon/ms-icon-144x144.png">

    $if options.theme == 'basic':
        <meta name="theme-color" content="#32a620">
    $elif options.theme == 'dark':
        <meta name="theme-color" content="#404040">

    $if content.page == 'help':
        <link href="/static/css/github.css" rel="stylesheet" type="text/css">
    <link href="/static/themes/${options.theme}/theme.css" rel="stylesheet" type="text/css">
    <script src="/static/scripts/jquery-3.5.1.min.js"></script>
   
<script>
        // Set up a live clock based on device time
function dateString(d) {
    let dateString = [$:{json.dumps(_('Sunday'), ensure_ascii=False).encode('utf8')}, $:{json.dumps(_('Monday'), ensure_ascii=False).encode('utf8')}, $:{json.dumps(_('Tuesday'), ensure_ascii=False).encode('utf8')}, $:{json.dumps(_('Wednesday'), ensure_ascii=False).encode('utf8')}, $:{json.dumps(_('Thursday'), ensure_ascii=False).encode('utf8')}, $:{json.dumps(_('Friday'), ensure_ascii=False).encode('utf8')}, $:{json.dumps(_('Saturday'), ensure_ascii=False).encode('utf8')}][d.getDay()];
    dateString += " " + d.getDate() + " ";
    dateString += [$:{json.dumps(_('January'), ensure_ascii=False).encode('utf8')}, $:{json.dumps(_('February'), ensure_ascii=False).encode('utf8')}, $:{json.dumps(_('March'), ensure_ascii=False).encode('utf8')}, $:{json.dumps(_('April'), ensure_ascii=False).encode('utf8')}, $:{json.dumps(_('May'), ensure_ascii=False).encode('utf8')}, $:{json.dumps(_('June'), ensure_ascii=False).encode('utf8')}, $:{json.dumps(_('July'), ensure_ascii=False).encode('utf8')}, $:{json.dumps(_('August'), ensure_ascii=False).encode('utf8')}, $:{json.dumps(_('September'), ensure_ascii=False).encode('utf8')}, $:{json.dumps(_('October'), ensure_ascii=False).encode('utf8')}, $:{json.dumps(_('November'), ensure_ascii=False).encode('utf8')}, $:{json.dumps(_('December'), ensure_ascii=False).encode('utf8')}][d.getMonth()];
    return dateString;
}

function toXSDate(d) {
    let r = d.getFullYear() + "-" +
            (d.getMonth() < 9 ? "0" : "") + (d.getMonth()+1) + "-" +
            (d.getDate() < 10 ? "0" : "") + d.getDate();
    return r;
}

function toClock(duration, tf) {
    let h = Math.floor(duration/60);
    let m = Math.floor(duration - (h*60));
    if (tf == 0) {
        return (h>12 ? h-12 : h) + ":" + (m<10 ? "0" : "") + m + " " + (h<12 ? $:{json.dumps(_('am'), ensure_ascii=False).encode('utf8')} : $:{json.dumps(_('pm'), ensure_ascii=False).encode('utf8')});
    } else {
        return (h<10 ? "0" : "") + h + ":" + (m<10 ? "0" : "") + m;
    }
}

function fromClock(clock) {
    let components = clock.split(":");
    let duration = 0;
    for (let c in components) {
        duration = duration*60 + parseInt(components[c], 10);
    }
    return duration;
}

function updateClock() {
    let now = new Date((new Date()).getTime() + to_device_time);
    if (timeFormat) {
        jQuery("#deviceTime span.hour").text((now.getHours() < 10 ? "0" : "") + now.getHours());
        jQuery("#deviceTime span.ampm").text("");
    } else {
        jQuery("#deviceTime span.hour").text(now.getHours()%12 == 0 ? "12" : now.getHours() % 12);
        jQuery("#deviceTime span.ampm").text((now.getHours() > 12 ? $:{json.dumps(_('pm'), ensure_ascii=False).encode('utf8')} : $:{json.dumps(_('am'), ensure_ascii=False).encode('utf8')}));
    }
    jQuery("#deviceTime span.minute").text((now.getMinutes() < 10 ? "0" : "") + now.getMinutes());
    jQuery("#deviceTime span.second").text(":" + (now.getSeconds() < 10 ? "0" : "") + now.getSeconds());

    jQuery("#deviceDate").text(dateString(now));

    setTimeout(updateClock, 500);
}

jQuery(document).ready(function(){

    jQuery("#bPlugins").click(function(e) {
        let btn = jQuery("#bPlugins");
        jQuery("#pluginMenu").css({
            position: 'absolute',
            top: btn.offset().top + btn.outerHeight() + 10,
            left: btn.offset().left
        }).slideToggle();
        e.stopPropagation();
    });
    jQuery(document).click(function(){
        jQuery("#pluginMenu").slideUp();
    });

    updateClock();
}); 

    // Server provides local timestamp, adjust it such that JS dates will also use the server's local time
    let device_time = ${now()} * 1000 + (new Date()).getTimezoneOffset() * 60 * 1000;
    let to_device_time = (new Date()).getTimezoneOffset() * 60 * 1000 + (${now()} * 1000 - (new Date).getTime());
    let timeFormat = ${str(options.time_format).lower()};
    $if content.page != 'login':
        let manual_mode = ${str(options.manual_mode).lower()};
</script>
</head>
<body>
    <div class="content">
        <div id="pluginMenu">
            <a class="button" href="/plugins_manage">$_('Manage')</a><br/>
            $for plugin in plugins.running():
                $if plugins.get(plugin).LINK:
                    <a class="button execute" href="${plugins.plugin_url(plugins.get(plugin).LINK)}" title="${plugins.get(plugin).NAME}">${plugins.get(plugin).MENU}</a><br/>
        </div>

        <div class="header">
            <div class="title" title=$:{json.dumps(_(u'Own name for this OpenSprinkler controler. Used for orientation between multiple systems.'), ensure_ascii=False)}>${options.name if options.name != _('OSPy - OpenSprinkler Python') else ""} 
            $if content.page != 'login':
                <p id="Userinfo">
                $_('Operator'): ${session['visitor']}
                $if session['category'] == 'admin':
                    - $_('Access'): $_('Administrator')
                $if session['category'] == 'user':
                    - $_('Access'): $_('User')
                $if session['category'] == 'public':
                    - $_('Access'): $_('Public')
                </p>                                        
            </div>
        </div>

        <div class="body">
            <div id="status">
                <p id="deviceTime"><span class="hour"></span><span class="sep">:</span><span class="minute"></span><span class="second"></span><span class="ampm"></span></p>
                <p id="deviceDate"></p>
            </div>

            <div class="panel">

                $if content.page != 'login':
                    <div id="nav">
                        <a href="/" class="button home${' here' if content.page=='home' else ''}" title=$:{json.dumps(_(u'Home'), ensure_ascii=False)}></a>
                        $if content.page != 'public':
                            <a href="/programs" id="bPrograms" class="button programs${' here' if content.page=='programs' else ''}" title=$:{json.dumps(_(u'Define Programs'), ensure_ascii=False)}>$_(u'Programs')</a>
                            $if not options.manual_mode:
                                $if content.page != 'user':
                                    <a href="/runonce" id="bRunOnce" class="button start${' here' if content.page=='runonce' else ''}" title=$:{json.dumps(_(u'Define Run Once Program'), ensure_ascii=False)}>$_(u'Run Once')</a>
                            $if content.page != 'user':    
                                <a id="bPlugins" class="button plugins${' here' if content.page=='plugins' else ''}" title=$:{json.dumps(_(u'Access Plugins'), ensure_ascii=False)}>
                                $_(u'Plugins')</a>
                            <a href="/log" id="bLog" class="button log${' here' if content.page=='log' else ''}" title=$:{json.dumps(_(u'View Log'), ensure_ascii=False)}>$_(u'Log')</a>
                            $if content.page != 'user': 
                                <a href="/options" id="bOptions" class="button options${' here' if content.page=='options' else ''}" title=$:{json.dumps(_(u'Options'), ensure_ascii=False)}>$_(u'Options')</a>
                                <a href="/stations" id="bStations" class="button stations${' here' if content.page=='stations' else ''}" title=$:{json.dumps(_(u'Configure Stations'), ensure_ascii=False)}>$_(u'Stations')</a>
                                <a href="/sensors" id="bSensors" class="button sensors${' here' if content.page=='sensors' else ''}" title=$:{json.dumps(_(u'Configure Sensors'), ensure_ascii=False)}>$_(u'Sensors')</a>
                            <a href="/help" id="bHelp" class="button help${' here' if content.page=='help' else ''}" title=$:{json.dumps(_(u'Help'), ensure_ascii=False)}>$_(u'Help')</a>
                        $if not options.no_password:
                            <a href="/logout" id="bLogout" class="button logout" title=$:{json.dumps(_(u'Logout'), ensure_ascii=False)}>$_(u'Logout')</a>
                    </div>

                $:content 

            </div>
        </div>   

        <div class="footer">          
            $if content.page != 'login' and content.page != 'public' and content.page != 'user':
                <div id="foot">
                <p id="cpu_temp">$_('CPU Temp'): <b>
                <a href="/action?${urllib.urlencode({'toggle_temp': options.temp_unit})}" title=$:{json.dumps(_('Click to toggle'), ensure_ascii=False).encode('utf8')} + ' Celsius &lt;&gt; Fahrenheit'> <span class="cpu_temp">${get_cpu_temp(options.temp_unit)}</span> &deg;${options.temp_unit}</span></a>
                </b></p>
                <p id="cpu_usage">$_('CPU Usage'): <b><span class="cpu_usage">${get_cpu_usage()}</span> %</b></p>             
                <p><a href="https://github.com/martinpihrt/OSPy" title=$:{json.dumps(_('Click for redirecting to github software'), ensure_ascii=False).encode('utf8')}>      
                $_('Software')</a> $_('version'): <b>${version.ver_str} (${version.ver_date})</b></p>
                <p id="ip">$_('External IP'): <b> <span class="ip">${get_external_ip()}</span></b></p>
                <p id="uptime">$_('Working'): <b> <span class="uptime">${uptime()}</span></b></p>
                </div>
        </div>
    </div>
</body>
</html>
