$def with (docs, errorCode)

$var title: $_(u'Help')
$var page: user

<script src="/static/scripts/help.js"></script>

<script>
    var errorCode = "${errorCode}";
    jQuery(document).ready(function(){
        switch (errorCode) {
            case "gfm":
                jQuery("#error").text($:{json.dumps(_('Error: Failed loading Python extension partial gfm in markdown! README.md information in help not be displayed correctly.'), ensure_ascii=False).encode('utf8')}).css('color', 'red');
            break;
        }
    });
</script> 

<div id="help">
    <div class="title">$_('Help')</div>
    <span class='Error' id='error'></span>
    <div id="help_container" class="simpleblock">
        <div id="help_menu">
            $for index, doc_entry in enumerate(docs):
                $if len(doc_entry) > 2:
                    <p class="help_link_${doc_entry[0]}"><a href="#${index}">${doc_entry[1]}</a></p>
                $else:
                    <b><p class="help_link_${doc_entry[0]}">${doc_entry[1]}</p></b>

        </div>
        <div id="help_contents">

        </div>
    </div>
</div>