$def with ()

$var title: $_('Log')
$var page: log

<div id="options">
    <div class="title">$_('Log ') (${_('Enabled') if options.run_log else _('Disabled')})</div>
</div>

<div id="log">
    $ records = log.finished_runs()
    <p>$_('Total number of records'): ${len(records)} (${_('no') if options.run_entries==0 else options.run_entries} $_('limit'))</p>
    <p>$_('Download log as') <a href="?csv">Excel log.csv</a>.</p>

    <table class="logList">
        <tr class="log_rec">
            <th>$_('Date')</th>
            <th>$_('Start Time')</th>
            <th>$_('Station')</th>
            <th>$_('Duration')</th>
            <th>$_('Program')</th>
        </tr>
        $for interval in reversed(records):
            $ duration = (interval['end'] - interval['start']).total_seconds()
            $ minutes, seconds = divmod(duration, 60)
            <tr class="log_rec ${loop.parity}">
                <td align='center'>${interval["start"].strftime("%Y-%m-%d")}</td>
                <td align='center'>${formatTime(interval["start"].strftime("%H:%M:%S"))}</td>
                <td align='center'>${stations[interval["station"]].name}</td>
                <td align='center'>${"%02d:%02d" % (minutes, seconds)}</td>
                <td align='center'>${interval["program_name"]}</td>
            </tr>
    </table>

</div>

<a href="" class="button refresh">$_('Refresh')</a>
<a href="?clear" class="button delete danger">$_('Clear Log')</a>

