$def with (wrecords, erecords, evrecords)

$var title: $_('Log')
$var page: user

<script>
jQuery(document).ready(function(){
    jQuery(".collapsible h4").click(function(event){
        jQuery(this).parent(".category").toggleClass("expanded").toggleClass("collapsed");
    });

    jQuery(".collapsible h4").first().parent(".category").toggleClass("expanded").toggleClass("collapsed");
});
</script>

<div class='category collapsible collapsed'><h4>$_('Station log')</h4>
    <div id="log">
    <p>$_('Logging'): ${_('Enabled') if options.run_log else _('Disabled')}</p>
    <p>$_('Total number of records'): ${len(wrecords)} (${_('no') if options.run_entries==0 else options.run_entries} $_('limit'))</p>
    <p>$_('Download log') <a href="?csv" class="button refresh">$_('log.csv')</a></p>
    <div id="help_container" class="simpleblock">
    <table class="logList">
        <tr class="log_rec">
            <th>$_('Date')</th>
            <th>$_('Start Time')</th>
            <th>$_('Station')</th>
            <th>$_('Duration')</th>
            <th>$_('Program')</th>
        </tr>
        $for interval in reversed(wrecords):
            $ duration = (interval['end'] - interval['start']).total_seconds()
            $ minutes, seconds = divmod(duration, 60)
            <tr class="log_rec ${loop.parity}">
                <td align='left'>${interval["start"].strftime("%Y-%m-%d")}</td>
                <td align='left'>${formatTime(interval["start"].strftime("%H:%M:%S"))}</td>
                <td align='left'>${stations[interval["station"]].name}</td>
                <td align='left'>${"%02d:%02d" % (minutes, seconds)}</td>
                <td align='left'>${interval["program_name"]}</td>
            </tr>
    </table>
    </div>
    </div>
</div>

<div class='category collapsible collapsed'><h4>$_('E-mail log')</h4>
    <div id="log">
    <p>$_('Logging'): ${_('Enabled') if options.run_logEM else _('Disabled')}</p>
    <p>$_('Total number of records'): ${len(erecords)} (${_('no') if options.run_entriesEM==0 else options.run_entriesEM} $_('limit'))</p>
    <p>$_('Download log') <a href="?csvEM" class="button refresh">$_('email.csv')</a></p>

    <div id="help_container" class="simpleblock">
    <table class="logList">
        <tr class="log_rec">
            <th>$_('Date')</th>
            <th>$_('Time')</th>
            <th>$_('Email Status')</th>
            <th>$_('Subject')</th>
            <th>$_('Body')</th>
        </tr>
        $ odd = 1
        $for interval in reversed(erecords):
            <tr class="log_rec ${'odd' if odd else 'even'}">
                <td align='left'>${interval["date"]}</td>
                <td align='left'>${formatTime(interval["time"])}</td>
                <td align='left'>${interval["status"]}</td>
                <td align='left'>${interval["subject"]}</td>
                <td align='left'>${interval["body"]}</td>
            </tr>
            $ odd = 1 - odd
    </table>
    </div>
    </div>
</div>

<div class='category collapsible collapsed'><h4>$_('Events log')</h4>
    <div id="log">
    <p>$_('Logging'): ${_('Enabled') if options.run_logEV else _('Disabled')}</p>
    <p>$_('Total number of records'): ${len(evrecords)} (${_('no') if options.run_entriesEV==0 else options.run_entriesEV} $_('limit'))</p>
    <p>$_('Download log') <a href="?csvEV" class="button refresh">$_('events.csv')</a></p>

    <div id="help_container" class="simpleblock">
    <table class="logList">
        <tr class="log_rec">
            <th>$_('Date')</th>
            <th>$_('Time')</th>
            <th>$_('Subject')</th>
            <th>$_('Status')</th>
        </tr>
        $ odd = 1
        $for interval in reversed(evrecords):
            <tr class="log_rec ${'odd' if odd else 'even'}">
                <td align='left'>${interval["date"]}</td>
                <td align='left'>${formatTime(interval["time"])}</td>
                <td align='left'>${interval["subject"]}</td>
                <td align='left'>${interval["status"]}</td>
            </tr>
            $ odd = 1 - odd
    </table>
    </div>
    </div>
</div>

<a href="" class="button refresh">$_('Refresh')</a>