$def with ()

$var title: $_('Manage Plugins')
$var page: plugins

<script src="/static/scripts/plugins_install.js"></script>
<div id="controls">
    <form method="POST" enctype="multipart/form-data" action="/plugins_install?${csrf_query()}" class="plugin-custom-install-form">
    $:csrf_input()
        $_('Custom plug-in (ZIP)'):
        <input type="file" name="zipfile" />
        <button id="cSubmit" class="submit">$_('Install')</button>
    </form>
    $for repo_index, repo in enumerate(plugins.REPOS):
        <div style="vertical-align:middle;" class='category collapsible collapsed'>
            <h4>
                <form action="/plugins_install" method="post" style="float:right;" class="plugin-install-form" data-plugin="$_('all plugins')" data-repo="${repo}">
                    $:csrf_input()
                    <input type="hidden" name="action" value="install_repo">
                    <input type="hidden" name="repo" value="${repo_index}">
                    <button type="submit" class="minibutton open">$_('Install all')</button>
                </form>
                ${repo}
            </h4>
            <div style="margin: 4px 0 8px 10px;"><small>$_('Source'): ${repo}</small></div>

            $ available_list = plugins.available()
            $for plugin, info in plugins.checker.get_repo_contents(repo).items():
                <div class='category collapsible collapsed'>
                    <h5>
                        <form action="/plugins_install" method="post" style="float:right;" class="plugin-install-form" data-plugin="${plugin}" data-repo="${repo}">
                            $:csrf_input()
                            <input type="hidden" name="action" value="install_repo">
                            <input type="hidden" name="repo" value="${repo_index}">
                            <input type="hidden" name="plugin" value="${plugin}">
                            <button type="submit" class="minibutton open">
                            $if plugin in available_list:
                                $_('Reinstall')
                            $else:
                                $_('Install')
                            </button>
                        </form>
                        ${info['name']}
                    </h5>
                    <div style="margin-left: 10px;"><small>$_('Source'): ${repo} / plugins/${plugin}</small></div>
                    <div style="margin-left: 10px;">
                        $:{info['read_me']}
                    </div>
                </div>
        </div>
</div>
