$def with ()

$var title: $_('Run-Once')
$var page: runonce

<script>
    function updateFooter(){
    jQuery.getJSON("/update_footer", function(osVals) {
        let cpu_temp = osVals.cpu_temp;
        let cpu_usage = osVals.cpu_usage;
        let sys_uptime = osVals.sys_uptime;
        let sys_ip = osVals.ip;

        jQuery("#cpu_temp span.cpu_temp").text(cpu_temp);
        jQuery("#cpu_usage span.cpu_usage").text(cpu_usage);
        jQuery("#ip span.ip").text(sys_ip);
        jQuery("#uptime span.uptime").text(sys_uptime);
    })
        
    setTimeout(updateFooter, 5000); 
    }

    jQuery(document).ready(function(){

    jQuery("#cSubmit").click(function() {
        var hours = jQuery("input[id^='mm']").map(function() {
            return jQuery(this).attr("id");
        }).get();
        var minutes = jQuery("input[id^='ss']").map(function() {
            return jQuery(this).attr("id");
        }).get();
        for (var i = 0; i < hours.length; i++) {
            var hour = parseInt(jQuery('#' + hours[i]).val());
            var minute = parseInt(jQuery('#' + minutes[i]).val());
            hour = (isNaN(hour) ? 0 : hour);
            minute = (isNaN(minute) ? 0 : minute);
            if (hour < 0 || minute < 0 || minute > 59) {
                alert($:{json.dumps(_('All values should be positive and seconds should not exceed 59.'), ensure_ascii=False).encode('utf8')});
                return false;
            }
            if (hour > 0 || minute > 0) anything = true;
        }
        jQuery("#runonceForm").submit();
    });

    jQuery("#cResetTime").click(function(){
        jQuery("input[type='number']").val(0);
    });

    updateFooter();
    });
</script>

<div id="runonce">
    <div class="title">$_('Run Once Program')</div>
    <form id="runonceForm" method="post">
        <table class="stationList" style="background: #F5F5F5;">
            $for station in stations.enabled_stations():
                <tr>
                    <td class='station_name'>${station.name}</td>
                    <td title=$:{json.dumps(_(u'Type time for run in minutes and seconds'), ensure_ascii=False)}>
                        <input id="mm${station.index}" name="mm${station.index}" type="number" size="3" maxlength="3" value="0" min="0" max="999">:
                        <input id="ss${station.index}" name="ss${station.index}" type="number" size="2" maxlength="2" value="0" min="0" max="59">
                    </td>    
                </tr>
        </table>
    </form>
</div>

<a id="cSubmit" class="button submit"><b>$_('Run Now')</b></a>
<a id="cResetTime" class="button refresh">$_('Reset Time')</a>
<a href="/" class="button cancel danger">$_('Cancel')</a>
