$def with ()

$var title: $_('A list of sensors')
$var page: sensors

$code:   
    def two_digits(n):
        return '%02d' % int(n)   

    intervals = (
    (_('weeks'), 604800),  # 60 * 60 * 24 * 7
    (_('days'), 86400),    # 60 * 60 * 24
    (_('hours'), 3600),    # 60 * 60
    (_('minutes'), 60),
    (_('seconds'), 1),
    )

    def display_time(seconds, granularity=2):
        result = []
      
        for name, count in intervals:
            name = name.encode('utf-8').decode('utf-8')
            value = seconds // count
            if value:
                seconds -= value * count
                result.append("{} {}".format(int(value), name))
        return ', '.join(result[:granularity])

    def version(s):
        if s != 0:
            res = [int(x) for x in str(s)]
            return "{}.{}{}".format(res[0], res[1], res[2])
        else:
            return "?.??"

    def dbm_to_percentage(dbm):
        min_dbm = -100  # low signal
        max_dbm = -50   # good signal
        if dbm <= min_dbm:
            return 0
        elif dbm >= max_dbm:
            return 100
        percentage = (dbm - min_dbm) / (max_dbm - min_dbm) * 100
        return round(percentage)


<div id="controls">
    <a href="/sensor/new" class="button add">$_('Add a New Sensor')</a>
    <a href="/sensors?delete_all" class="button deleteAll danger">$_('Delete All Sensors')</a>
    <a href="/sensors?search" class="button cModify"> $_('Searching Sensors')</a>
    <a href="/firmware" class="button cModify"> $_('Sensors Firmware')</a>
</div>
</br>

<div id="controls">
$if sensors.count()>0:
    $for sensor in sensors.get():
        <div id="sensor-container" class="sensor-container">
        $ type_list = [_('None'), _('Dry Contact'), _('Leak Detector'), _('Moisture'), _('Motion'), _('Temperature'), _('Multi'), _('Multi Contact')]
        $ multi_list = [_('Temperature DS1'), _('Temperature DS2'), _('Temperature DS3'), _('Temperature DS4'), _('Dry Contact'), _('Leak Detector'), _('Moisture'), _('Motion'), _('Ultrasonic'), _('Soil Moisture')]
        $ shelly_list = [_('Shelly Plus HT'), _('Shelly Plus Plug S'), _('Shelly Pro 2PM'), _('Shelly 1PM Mini'), _('Shelly 2.5'), _('Shelly Pro 4PM'), _('Shelly 1 Mini'), _('Shelly 2PM Addon'), _('Shelly 1PM Addon'), _('Shelly HT')]
        <div id="p${sensor.index}" class="controlBlock program ${'' if sensor.enabled else 'disabled'}">
        <p>
            <a href="/sensor/${sensor.index}?enable=${'0' if sensor.enabled else '1'}" class="button cDisable toggle ${'on' if sensor.enabled else 'off'}" title=$:{json.dumps(_('Enabling or disabling this sensor.'), ensure_ascii=False).encode('utf8').decode('utf-8')}>
                <span class='toggleleft'>$_('On')</span>
                <span class='togglesep'>&nbsp;</span>
                <span class='toggleright'>$_('Off')</span>
            </a>
            ${sensor.index+1}. $_('Name'): <span class="val">${sensor.name}</span> $_('Type'): 
            $if sensor.manufacturer==0:
                <span class="val">$type_list[sensor.sens_type] ${multi_list[sensor.multi_type] if sensor.sens_type == 6 else ''}</span>
            $elif sensor.manufacturer==1:
                <span class="val">${shelly_list[sensor.shelly_hw_nbr] if sensor.shelly_hw_nbr != -1 else ''}</span>
            $else:
                <span class="val">$_('Unknown')</span>
        </p>
        </br>
        <p>
        $if sensor.enabled:
            $if sensor.response == 1:
                <div id="green_circle" title=$:{json.dumps(_('Yes all is correct.'), ensure_ascii=False).encode('utf8').decode('utf-8')}></div>
                <b>$_('Link OK')</b> - $_('Last:') $display_time(now() - sensor.last_response) (${(sensor.last_response_datetime) if sensor.last_response_datetime != '' else _('Change not yet loaded')})
            $else:
                <div id="red_circle" title=$:{json.dumps(_('Sensor does not respond! Check that the sensor is running (LED). Whether it is connected to the network (for example, in the router settings). Is the signal strength enough (Wi-Fi version)?'), ensure_ascii=False).encode('utf8').decode('utf-8')}></div>
                <b>$_('Link ERROR')!</b> - $_('Last:') $display_time(now() - sensor.last_response) (${(sensor.last_response_datetime) if sensor.last_response_datetime != '' else _('Change not yet loaded')})
            </p>
            <p>$_('Show in Footer on Home'): <span class="val">${_('Yes') if sensor.show_in_footer else _('No')}</span></p>
            $if sensor.sens_type != 7:
                <p>$_('Sample Rate'): <span class="val">${two_digits(sensor.sample_rate/60) + ":" + two_digits(sensor.sample_rate%60)} ($_('mm:ss'))</span></p>
                <p>$_('Log Samples'): <span class="val">${_('Yes') if sensor.log_samples else _('No')}</span></p>
                <p>$_('Log Events'): <span class="val">${_('Yes') if sensor.log_event else _('No')}</span></p>
                <p>$_('Text/Email Events'): <span class="val">${_('Yes') if sensor.send_email else _('No')}</span></p>
                <p>$_('E-mail plug-ins'): <span class="val">${_('E-mail notifications V1') if sensor.eplug == 0 else _('E-mail notifications V2 SSL')}</span></p>  
        $if sensor.sens_type == 1 and sensor.enabled and sensor.manufacturer==0:
            $if sensor.last_read_value[4] != '':
                <p style="font-size:20px;">$_('Last Read Value'): <span class="val">${str(sensor.last_read_value[4])}
                $if sensor.last_read_value[4] == -127:
                    $_('Probe Error')
                $else:
                    (${sensor.dry_clos_msg if int(sensor.last_read_value[4])==1 else sensor.dry_open_msg})
                </span></p>
            $else:
                <p style="font-size:20px;">$_('Last Read Value'): <span class="val">${str(sensor.last_read_value[4])} (${_('Change not yet loaded')})</span></p>
            <p>$_('Open Program(s)'): <span class="val">
            $if "-1" in sensor.trigger_low_program:
                $_('None')
            $if "-1" not in sensor.trigger_low_program:
                $for program in programs.get():
                    $if str(program.index+1) in sensor.trigger_low_program:
                        $program.name
            </span></p>
            <p>$_('Stop this run stations'): <span class="val">
            $if "-1" in sensor.used_stations_one:
                $_('None')
            $if "-1" not in sensor.used_stations_one:
                $for station in [station for station in stations if station.enabled]:
                    $if str(station.index) in sensor.used_stations_one:
                        $station.name ($_('Output') ${str(station.index+1)})
            </span></p>            
            <p>$_('Closed Program(s)'): <span class="val">
            $if "-1" in sensor.trigger_low_program:
                $_('None') 
            $if "-1" not in sensor.trigger_low_program:
                $for program in programs.get():
                    $if str(program.index+1) in sensor.trigger_high_program:
                        $program.name 
            </span></p>
            <p>$_('Stop this run stations'): <span class="val">
            $if "-1" in sensor.used_stations_two:
                $_('None')
            $if "-1" not in sensor.used_stations_two:
                $for station in [station for station in stations if station.enabled]:
                    $if str(station.index) in sensor.used_stations_two:
                        $station.name ($_('Output') ${str(station.index+1)})
            </span></p>             
        $elif sensor.sens_type == 2 and sensor.enabled and sensor.manufacturer==0:
            $if sensor.last_read_value[5] != '':
                <p style="font-size:20px;">$_('Last Read Value'): <span class="val">${str(sensor.last_read_value[5])}
                $if sensor.last_read_value[5] == -127:
                    $_('Probe Error')
                $else:    
                    $_('Liter per second')
                </span></p>
            $else:
                <p style="font-size:20px;">$_('Last Read Value'): <span class="val">${str(sensor.last_read_value[5])} (${_('Change not yet loaded')})</span></p>
            <p>$_('Stabilization Time'): <span class="val">${two_digits(sensor.stabilization_time/60)}:${two_digits(sensor.stabilization_time%60)} ($_('mm:ss'))</span></p>
            <p>$_('Sensitivity'): <span class="val">${sensor.sensitivity} $_('%')</span></p>
            <p>$_('One pulse is'): <span class="val">${sensor.liter_per_pulses} $_('Liters')</span></p>
            <p>$_('Low Program(s)'): <span class="val">
            $if "-1" in sensor.trigger_low_program:
                $_('None')
            $if "-1" not in sensor.trigger_low_program:
                $for program in programs.get():
                    $if str(program.index+1) in sensor.trigger_low_program:
                        $program.name 
            </span></p>
            <p>$_('High Program(s)'): <span class="val">
            $if "-1" in sensor.trigger_high_program:
                $_('None')
            $if "-1" not in sensor.trigger_high_program:
                $for program in programs.get():
                    $if str(program.index+1) in sensor.trigger_high_program:
                        $program.name 
            </span></p>
        $elif sensor.sens_type == 3 and sensor.enabled and sensor.manufacturer==0:
            $if sensor.last_read_value[6] != '':
                <p style="font-size:20px;">$_('Last Read Value'): <span class="val">${str(sensor.last_read_value[6])}
                $if sensor.last_read_value[6] == -127:
                    $_('Probe Error')
                $else:
                    $_('%')
                </span></p>
            $else:
                <p style="font-size:20px;">$_('Last Read Value'): <span class="val">${str(sensor.last_read_value[6])} (${_('Change not yet loaded')})</span></p>
            <p>$_('Low Threshold'): <span class="val">${sensor.trigger_low_threshold} $_('%')</span></p>
            <p>$_('Program(s)'): <span class="val">
            $if "-1" in sensor.trigger_low_program:
                $_('None')
            $if "-1" not in sensor.trigger_low_program:
                $for program in programs.get():
                    $if str(program.index+1) in sensor.trigger_low_program:
                        $program.name 
            </span></p>
            <p>$_('High Threshold'): <span class="val">${sensor.trigger_high_threshold} $_('%')</span></p>
            <p>$_('Program(s)'): <span class="val">
            $if "-1" in sensor.trigger_high_program:
                $_('None')
            $if "-1" not in sensor.trigger_high_program:
                $for program in programs.get():
                    $if str(program.index+1) in sensor.trigger_high_program:
                        $program.name 
            </span></p>
        $elif sensor.sens_type == 4 and sensor.enabled and sensor.manufacturer==0:
            $if sensor.last_read_value[7] != '':
                <p style="font-size:20px;">$_('Last Read Value'): <span class="val">${str(sensor.last_read_value[7])}
                $if sensor.last_read_value[7] == -127:
                    $_('Probe Error')
                $else:
                    (${sensor.motion_msg if int(sensor.last_read_value[7])==1 else sensor.no_motion_msg})
                </span></p>
            $else:
                <p>$_('Last Read Value'): <span class="val">${str(sensor.last_read_value[7])} (${_('Change not yet loaded')})</span></p>
            <p>$_('Program(s)'): <span class="val">
            $if "-1" in sensor.trigger_high_program:
                $_('None')
            $if "-1" not in sensor.trigger_high_program:
                $for program in programs.get():
                    $if str(program.index+1) in sensor.trigger_high_program:
                        $program.name 
            </span></p>
        $elif sensor.sens_type == 5 and sensor.enabled and sensor.manufacturer==0:
            $if sensor.last_read_value[0] != '':
                <p style="font-size:20px;">$_('Last Read Value'): <span class="val">${str(sensor.last_read_value[0])}
                $if sensor.last_read_value[0] == -127:   
                    $_('Probe Error')
                $else:    
                    $if options.temp_unit == 'F':
                        &degF 
                    $if options.temp_unit == 'C':
                        &degC 
                </span></p>
            $else:
                <p style="font-size:20px;">$_('Last Read Value'): <span class="val">${str(sensor.last_read_value[0])} (${_('Change not yet loaded')})</span></p>             
            <p>$_('Low Threshold'): <span class="val">${sensor.trigger_low_threshold}
            $if options.temp_unit == 'F':
                &degF 
            $if options.temp_unit == 'C':
                &degC
            </span></p>
            <p>$_('Program(s)'): <span class="val">
            $if "-1" in sensor.trigger_low_program:
                $_('None')
            $if "-1" not in sensor.trigger_low_program:
                $for program in programs.get():
                    $if str(program.index+1) in sensor.trigger_low_program:
                        $program.name 
            </span></p>
            <p>$_('High Threshold'): <span class="val">${sensor.trigger_high_threshold}
            $if options.temp_unit == 'F':
                &degF
            $if options.temp_unit == 'C':
                &degC
            </span></p>
            <p>$_('Program(s)'): <span class="val">
            $if "-1" in sensor.trigger_high_program:
                $_('None')
            $if "-1" not in sensor.trigger_high_program:
                $for program in programs.get():
                    $if str(program.index+1) in sensor.trigger_high_program:
                        $program.name 
            </span></p>
        $elif sensor.sens_type == 6 and sensor.enabled and sensor.manufacturer==0:
            $if sensor.multi_type >= 0 and sensor.multi_type <4:
                $if sensor.last_read_value[sensor.multi_type] != '':
                    <p style="font-size:20px;">$_('Last Read Value'): <span class="val">${str(sensor.last_read_value[sensor.multi_type])}
                    $if sensor.last_read_value[sensor.multi_type] == -127: 
                        $_('Probe Error')
                    $else:    
                        $if options.temp_unit == 'F':
                            &degF
                        $if options.temp_unit == 'C':
                            &degC    
                    </span></p>
                $else:
                    <p style="font-size:20px;">$_('Last Read Value'): <span class="val">${str(sensor.last_read_value[sensor.multi_type])} (${_('Change not yet loaded')})</span></p>    
                <p>$_('Low Threshold'): <span class="val">${sensor.trigger_low_threshold}
                $if options.temp_unit == 'F':
                    &degF 
                $if options.temp_unit == 'C':
                    &degC  
                </span></p>
                <p>$_('Program(s)'): <span class="val">
                $if "-1" in sensor.trigger_low_program:
                    $_('None')
                $if "-1" not in sensor.trigger_low_program:
                    $for program in programs.get():
                        $if str(program.index+1) in sensor.trigger_low_program:
                            $program.name 
                </span></p>
                <p>$_('High Threshold'): <span class="val">${sensor.trigger_high_threshold}
                $if options.temp_unit == 'F':
                    &degF
                $if options.temp_unit == 'C':
                    &degC
                </span></p>
                <p>$_('Program(s)'): <span class="val">
                $if "-1" in sensor.trigger_high_program:
                    $_('None')
                $if "-1" not in sensor.trigger_high_program:
                    $for program in programs.get():
                        $if str(program.index+1) in sensor.trigger_high_program:
                            $program.name
                </span></p>
            $elif sensor.multi_type == 4:
                $if sensor.last_read_value[4] != '':
                    <p style="font-size:20px;">$_('Last Read Value'): <span class="val">${str(sensor.last_read_value[4])}
                    $if sensor.last_read_value[4] == -127:
                        $_('Probe Error')
                    $else:
                        (${sensor.dry_clos_msg if int(sensor.last_read_value[4])==1 else sensor.dry_open_msg}) 
                    </span></p>
                $else:
                    <p style="font-size:20px;">$_('Last Read Value'): <span class="val">${str(sensor.last_read_value[4])} (${_('Change not yet loaded')})</span></p>
                <p>$_('Open Program(s)'): <span class="val">
                $if "-1" in sensor.trigger_low_program:
                    $_('None')
                $if "-1" not in sensor.trigger_low_program:
                    $for program in programs.get():
                        $if str(program.index+1) in sensor.trigger_low_program:
                            $program.name 
                </span></p>
                <p>$_('Stop this run stations'): <span class="val">
                $if "-1" in sensor.used_stations_one:
                    $_('None')
                $if "-1" not in sensor.used_stations_one:
                    $for station in [station for station in stations if station.enabled]:
                        $if str(station.index) in sensor.used_stations_one:
                            $station.name ($_('Output') ${str(station.index+1)})
                </span></p>                
                <p>$_('Closed Program(s)'): <span class="val">
                $if "-1" in sensor.trigger_high_program:
                    $_('None')
                $if "-1" not in sensor.trigger_high_program:
                    $for program in programs.get():
                        $if str(program.index+1) in sensor.trigger_high_program:
                            $program.name 
                </span></p>
                <p>$_('Stop this run stations'): <span class="val">
                $if "-1" in sensor.used_stations_two:
                    $_('None')
                $if "-1" not in sensor.used_stations_two:
                    $for station in [station for station in stations if station.enabled]:
                        $if str(station.index) in sensor.used_stations_two:
                            $station.name ($_('Output') ${str(station.index+1)})
                </span></p>                
            $elif sensor.multi_type == 5:
                $if sensor.last_read_value[5] != '':
                    <p style="font-size:20px;">$_('Last Read Value'): <span class="val">${str(sensor.last_read_value[5])}
                    $if sensor.last_read_value[5] == -127:
                        $_('Probe Error')
                    $else:
                        $_('Liter per second')
                    </span></p>
                $else:
                    <p style="font-size:20px;">$_('Last Read Value'): <span class="val">${str(sensor.last_read_value[5])} (${_('Change not yet loaded')})</span></p>
                <p>$_('Stabilization Time'): <span class="val">${two_digits(sensor.stabilization_time/60)}:${two_digits(sensor.stabilization_time%60)} ($_('mm:ss'))</span></p>
                <p>$_('Sensitivity'): <span class="val">${sensor.sensitivity} $_('%')</span></p>
                <p>$_('One pulse is'): <span class="val">${sensor.liter_per_pulses} $_('Liters')</span></p>
                <p>$_('Low Program(s)'): <span class="val">
                $if "-1" in sensor.trigger_low_program:
                    $_('None')
                $if "-1" not in sensor.trigger_low_program:
                    $for program in programs.get():
                        $if str(program.index+1) in sensor.trigger_low_program:
                            $program.name 
                </span></p>
                <p>$_('High Program(s)'): <span class="val">
                $if "-1" in sensor.trigger_high_program:
                    $_('None')
                $if "-1" not in sensor.trigger_high_program:
                    $for program in programs.get():
                        $if str(program.index+1) in sensor.trigger_high_program:
                            $program.name 
                </span></p>
            $elif sensor.multi_type == 6:
                $if sensor.last_read_value != '':
                    <p style="font-size:20px;">$_('Last Read Value'): <span class="val">${str(sensor.last_read_value[6])}
                    $if sensor.last_read_value[6] == -127:
                        $_('Probe Error')
                    $else: 
                        $_('%') 
                    </span></p>
                $else:
                    <p style="font-size:20px;">$_('Last Read Value'): <span class="val">${str(sensor.last_read_value[6])} (${_('Change not yet loaded')})</span></p>
                <p>$_('Low Threshold'): <span class="val">${sensor.trigger_low_threshold} $_('%')</span></p>
                <p>$_('Program(s)'): <span class="val">
                $if "-1" in sensor.trigger_low_program:
                    $_('None')
                $if "-1" not in sensor.trigger_low_program:
                    $for program in programs.get():
                        $if str(program.index+1) in sensor.trigger_low_program:
                            $program.name 
                </span></p>
                <p>$_('High Threshold'): <span class="val">${sensor.trigger_high_threshold} $_('%')</span></p>
                <p>$_('Program(s)'): <span class="val">
                $if "-1" in sensor.trigger_high_program:
                    $_('None')
                $if "-1" not in sensor.trigger_high_program:
                    $for program in programs.get():
                        $if str(program.index+1) in sensor.trigger_high_program:
                            $program.name 
                </span></p>
            $elif sensor.multi_type == 7:
                $if sensor.last_read_value[7] != '':
                    <p style="font-size:20px;">$_('Last Read Value'): <span class="val">${str(sensor.last_read_value[7])}
                    $if sensor.last_read_value[7] == -127:
                        $_('Probe Error')
                    $else:
                        (${sensor.motion_msg if int(sensor.last_read_value[7])==1 else sensor.no_motion_msg}) 
                    </span></p>
                $else:
                    <p style="font-size:20px;"> $_('Last Read Value'): <span class="val">${str(sensor.last_read_value[7])} (${_('Change not yet loaded')})</span></p>
                <p>$_('Program(s)'): <span class="val">
                $if "-1" in sensor.trigger_high_program:
                    $_('None')
                $if "-1" not in sensor.trigger_high_program:
                    $for program in programs.get():
                        $if str(program.index+1) in sensor.trigger_high_program:
                            $program.name 
                </span></p>
            $elif sensor.multi_type == 8:
                $if sensor.last_read_value[8] != '':
                    <p style="font-size:20px;">$_('Last Read Value'): <span class="val">${str(sensor.last_read_value[8])} 
                    $if sensor.last_read_value[8] == -127:
                        $_('Probe Error')
                    $else:
                        $_('cm')
                    </span></p>
                $else:
                    <p style="font-size:20px;">$_('Last Read Value'): <span class="val">${str(sensor.last_read_value[8])} (${_('Change not yet loaded')})</span></p>
                <p>$_('Distance sensor to minimum'): <span class="val">${sensor.distance_bottom} $_('cm')</span></p>
                <p>$_('Distance sensor to maximum'): <span class="val">${sensor.distance_top} $_('cm')</span></p>
                <p>$_('Minimum water level in tank'): <span class="val">${sensor.water_minimum} $_('cm')</span></p>
                <p>$_('Cylinder diameter'): <span class="val">${sensor.diameter} $_('cm')</span></p>
                <p>$_('Display in liters'): <span class="val">${_('Yes') if sensor.check_liters else _('No')}</span></p>
                <p>$_('Stop stations if minimum'): <span class="val">${_('Yes') if sensor.use_stop else _('No')}</span></p>
                <p>$_('Delay Duration'): <span class="val">${sensor.delay_duration} $_('hours')</span></p>
                <p>$_('Stop stations if fault'): <span class="val">${_('Yes') if sensor.use_water_stop else _('No')}</span></p>
                <p>$_('Stop this run stations'): <span class="val">
                $if "-1" in sensor.used_stations:
                    $_('None')
                $if "-1" not in sensor.used_stations:
                    $for station in [station for station in stations if station.enabled]:
                        $if str(station.index) in sensor.used_stations:
                            $station.name ($_('Output') ${str(station.index+1)})
                </span></p>
                <p>$_('Regulate the maximum water level'): <span class="val">${_('Yes') if sensor.enable_reg else _('No')}</span></p>
                <p>$_('Maximum maintained water level'): <span class="val">${sensor.reg_max} $_('cm')</span></p>
                <p>$_('Maximum run time in activate'): <span class="val">${two_digits(sensor.reg_mm) + ":" + two_digits(sensor.reg_ss)} ($_('mm:ss'))</span></p>
                <p>$_('Minimum maintained water level'): <span class="val">${sensor.reg_min} $_('cm')</span></p>
                <p>$_('Select Output for regulation'): <span class="val">
                $if "-1" in sensor.reg_output:
                    $_('None')
                $if "-1" not in sensor.reg_output:
                    $for station in [station for station in stations if station.enabled]:
                        $if str(station.index) in sensor.reg_output:
                            ${station.name} ($_('Output') ${str(station.index+1)})
                </span></p>

            $elif sensor.multi_type == 9:
                $if sensor.soil_last_read_value[0] != '':
                    <p style="font-size:20px;">$_('Last Read Value')
                    $for i in range(0, 16):
                        <p>$_('Probe') ${str(i+1)} - ${sensor.soil_probe_label[i]}:
                        <span class="val">
                        $if sensor.soil_last_read_value[i] != -127:
                            ${str(sensor.soil_last_read_value[i])}$_('V')</span> $_('CAL0/100:') ${str(sensor.soil_calibration_min[i])}$_('V')/${str(sensor.soil_calibration_max[i])}$_('V')
                        $else:
                            $_('Probe Error')</span>
                        </p>
                    </p>
                $else:
                    <p style="font-size:20px;">$_('Last Read Value'): <span class="val">${_('Change not yet loaded')}</span></p>                        
                $for i in range(0, 16):
                    $if sensor.soil_program[i] != "-1":
                        <p>$_('Probe') ${str(i+1)} - ${sensor.soil_probe_label[i]} - $_('Program'): <span class="val">
                            $for program in programs.get():
                                $if str(program.index+1) == sensor.soil_program[i]:
                                    $program.name 
                        </span></p>

        $elif sensor.sens_type == 7 and sensor.enabled and sensor.manufacturer==0:
            $if sensor.last_read_value[0] != '':
                $for i in range(0, 7):
                    <p style="font-size:20px;">$_('Last Read Value SW')${i+1}: <span class="val">${str(sensor.last_read_value[i])}</span>
                    $if sensor.last_read_value[i] == 1:
                        <small>($_('+3.3V open contact'))</small>
                    $elif sensor.last_read_value[i] == 0:
                        <small>($_('0V closed contact'))</small>                      
                    $elif sensor.last_read_value[i] == -127:   
                        $_('Communication error')
                    </p>
            $else:
                $for i in range(0, 7):
                    <p style="font-size:20px;">$_('Last Read Value SW')${i+1}: <span class="val">${str(sensor.last_read_value[i])} (${_('Change not yet loaded')})</span></p>
            <hr>
            <!-- switch 1 -->
            <p style="font-size:20px;">$_('Switch') 1)</p>
            <p>$_('Closed Program(s)'): <span class="val">
            $if "-1" in sensor.sw0_closed_program:
                $_('None')
            $if "-1" not in sensor.sw0_closed_program:
                $for program in programs.get():
                    $if str(program.index+1) in sensor.sw0_closed_program:
                        $program.name
            </span>
            </p>
            <p>$_('Stop this run stations'): <span class="val">
            $if "-1" in sensor.sw0_closed_stations:
                $_('None')
            $if "-1" not in sensor.sw0_closed_stations:
                $for station in [station for station in stations if station.enabled]:
                    $if str(station.index) in sensor.sw0_closed_stations:
                        $station.name ($_('Output') ${str(station.index+1)})
            </span></p>            
            <p>$_('Open Program(s)'): <span class="val">
            $if "-1" in sensor.sw0_open_program:
                $_('None')
            $if "-1" not in sensor.sw0_open_program:
                $for program in programs.get():
                    $if str(program.index+1) in sensor.sw0_open_program:
                        $program.name 
            </span>
            </p>
            <p>$_('Stop this run stations'): <span class="val">
            $if "-1" in sensor.sw0_open_stations:
                $_('None')
            $if "-1" not in sensor.sw0_open_stations:
                $for station in [station for station in stations if station.enabled]:
                    $if str(station.index) in sensor.sw0_open_stations:
                        $station.name ($_('Output') ${str(station.index+1)})
            </span></p>
            <p>----------------</p>
            <!-- switch 2 -->
            <p style="font-size:20px;">$_('Switch') 2)</p>
            <p>$_('Closed Program(s)'): <span class="val">
            $if "-1" in sensor.sw1_closed_program:
                $_('None')
            $if "-1" not in sensor.sw1_closed_program:
                $for program in programs.get():
                    $if str(program.index+1) in sensor.sw1_closed_program:
                        $program.name
            </span>
            </p>
            <p>$_('Stop this run stations'): <span class="val">
            $if "-1" in sensor.sw1_closed_stations:
                $_('None')
            $if "-1" not in sensor.sw1_closed_stations:
                $for station in [station for station in stations if station.enabled]:
                    $if str(station.index) in sensor.sw1_closed_stations:
                        $station.name ($_('Output') ${str(station.index+1)})
            </span></p>
            <p>$_('Open Program(s)'): <span class="val">
            $if "-1" in sensor.sw1_open_program:
                $_('None')
            $if "-1" not in sensor.sw1_open_program:
                $for program in programs.get():
                    $if str(program.index+1) in sensor.sw1_open_program:
                        $program.name 
            </span>
            </p>
            <p>$_('Stop this run stations'): <span class="val">
            $if "-1" in sensor.sw1_open_stations:
                $_('None')
            $if "-1" not in sensor.sw1_open_stations:
                $for station in [station for station in stations if station.enabled]:
                    $if str(station.index) in sensor.sw1_open_stations:
                        $station.name ($_('Output') ${str(station.index+1)})
            </span></p>
            <p>----------------</p>
            <!-- switch 3 -->
            <p style="font-size:20px;">$_('Switch') 3)</p>
            <p>$_('Closed Program(s)'): <span class="val">
            $if "-1" in sensor.sw2_closed_program:
                $_('None')
            $if "-1" not in sensor.sw2_closed_program:
                $for program in programs.get():
                    $if str(program.index+1) in sensor.sw2_closed_program:
                        $program.name
            </span>
            </p>
            <p>$_('Stop this run stations'): <span class="val">
            $if "-1" in sensor.sw2_closed_stations:
                $_('None')
            $if "-1" not in sensor.sw2_closed_stations:
                $for station in [station for station in stations if station.enabled]:
                    $if str(station.index) in sensor.sw2_closed_stations:
                        $station.name ($_('Output') ${str(station.index+1)})
            </span></p>
            <p>$_('Open Program(s)'): <span class="val">
            $if "-1" in sensor.sw2_open_program:
                $_('None')
            $if "-1" not in sensor.sw2_open_program:
                $for program in programs.get():
                    $if str(program.index+1) in sensor.sw2_open_program:
                        $program.name 
            </span>
            </p>
            <p>$_('Stop this run stations'): <span class="val">
            $if "-1" in sensor.sw2_open_stations:
                $_('None')
            $if "-1" not in sensor.sw2_open_stations:
                $for station in [station for station in stations if station.enabled]:
                    $if str(station.index) in sensor.sw2_open_stations:
                        $station.name ($_('Output') ${str(station.index+1)})
            </span></p>
            <p>----------------</p>
            <!-- switch 4 -->
            <p style="font-size:20px;">$_('Switch') 4)</p>
            <p>$_('Closed Program(s)'): <span class="val">
            $if "-1" in sensor.sw3_closed_program:
                $_('None')
            $if "-1" not in sensor.sw3_closed_program:
                $for program in programs.get():
                    $if str(program.index+1) in sensor.sw3_closed_program:
                        $program.name
            </span>
            </p>
            <p>$_('Stop this run stations'): <span class="val">
            $if "-1" in sensor.sw3_closed_stations:
                $_('None')
            $if "-1" not in sensor.sw3_closed_stations:
                $for station in [station for station in stations if station.enabled]:
                    $if str(station.index) in sensor.sw3_closed_stations:
                        $station.name ($_('Output') ${str(station.index+1)})
            </span></p>
            <p>$_('Open Program(s)'): <span class="val">
            $if "-1" in sensor.sw3_open_program:
                $_('None')
            $if "-1" not in sensor.sw3_open_program:
                $for program in programs.get():
                    $if str(program.index+1) in sensor.sw3_open_program:
                        $program.name 
            </span>
            </p>
            <p>$_('Stop this run stations'): <span class="val">
            $if "-1" in sensor.sw3_open_stations:
                $_('None')
            $if "-1" not in sensor.sw3_open_stations:
                $for station in [station for station in stations if station.enabled]:
                    $if str(station.index) in sensor.sw3_open_stations:
                        $station.name ($_('Output') ${str(station.index+1)})
            </span></p>
            <p>----------------</p>
            <!-- switch 5 -->
            <p style="font-size:20px;">$_('Switch') 5)</p>
            <p>$_('Closed Program(s)'): <span class="val">
            $if "-1" in sensor.sw4_closed_program:
                $_('None')
            $if "-1" not in sensor.sw4_closed_program:
                $for program in programs.get():
                    $if str(program.index+1) in sensor.sw4_closed_program:
                        $program.name
            </span>
            </p>
            <p>$_('Stop this run stations'): <span class="val">
            $if "-1" in sensor.sw4_closed_stations:
                $_('None')
            $if "-1" not in sensor.sw4_closed_stations:
                $for station in [station for station in stations if station.enabled]:
                    $if str(station.index) in sensor.sw4_closed_stations:
                        $station.name ($_('Output') ${str(station.index+1)})
            </span></p>
            <p>$_('Open Program(s)'): <span class="val">
            $if "-1" in sensor.sw4_open_program:
                $_('None')
            $if "-1" not in sensor.sw4_open_program:
                $for program in programs.get():
                    $if str(program.index+1) in sensor.sw4_open_program:
                        $program.name 
            </span>
            </p>
            <p>$_('Stop this run stations'): <span class="val">
            $if "-1" in sensor.sw4_open_stations:
                $_('None')
            $if "-1" not in sensor.sw4_open_stations:
                $for station in [station for station in stations if station.enabled]:
                    $if str(station.index) in sensor.sw4_open_stations:
                        $station.name ($_('Output') ${str(station.index+1)})
            </span></p>
            <p>----------------</p>
            <!-- switch 6 -->
            <p style="font-size:20px;">$_('Switch') 6)</p>
            <p>$_('Closed Program(s)'): <span class="val">
            $if "-1" in sensor.sw5_closed_program:
                $_('None')
            $if "-1" not in sensor.sw5_closed_program:
                $for program in programs.get():
                    $if str(program.index+1) in sensor.sw5_closed_program:
                        $program.name
            </span>
            </p>
            <p>$_('Stop this run stations'): <span class="val">
            $if "-1" in sensor.sw5_closed_stations:
                $_('None')
            $if "-1" not in sensor.sw5_closed_stations:
                $for station in [station for station in stations if station.enabled]:
                    $if str(station.index) in sensor.sw5_closed_stations:
                        $station.name ($_('Output') ${str(station.index+1)})
            </span></p>
            <p>$_('Open Program(s)'): <span class="val">
            $if "-1" in sensor.sw5_open_program:
                $_('None')
            $if "-1" not in sensor.sw5_open_program:
                $for program in programs.get():
                    $if str(program.index+1) in sensor.sw5_open_program:
                        $program.name 
            </span>
            </p>
            <p>$_('Stop this run stations'): <span class="val">
            $if "-1" in sensor.sw5_open_stations:
                $_('None')
            $if "-1" not in sensor.sw5_open_stations:
                $for station in [station for station in stations if station.enabled]:
                    $if str(station.index) in sensor.sw5_open_stations:
                        $station.name ($_('Output') ${str(station.index+1)})
            </span></p>
            <p>----------------</p>
            <!-- switch 7 -->
            <p style="font-size:20px;">$_('Switch') 7)</p>
            <p>$_('Closed Program(s)'): <span class="val">
            $if "-1" in sensor.sw6_closed_program:
                $_('None')
            $if "-1" not in sensor.sw6_closed_program:
                $for program in programs.get():
                    $if str(program.index+1) in sensor.sw6_closed_program:
                        $program.name
            </span>
            </p>
            <p>$_('Stop this run stations'): <span class="val">
            $if "-1" in sensor.sw6_closed_stations:
                $_('None')
            $if "-1" not in sensor.sw6_closed_stations:
                $for station in [station for station in stations if station.enabled]:
                    $if str(station.index) in sensor.sw6_closed_stations:
                        $station.name ($_('Output') ${str(station.index+1)})
            </span></p>
            <p>$_('Open Program(s)'): <span class="val">
            $if "-1" in sensor.sw6_open_program:
                $_('None')
            $if "-1" not in sensor.sw6_open_program:
                $for program in programs.get():
                    $if str(program.index+1) in sensor.sw6_open_program:
                        $program.name 
            </span>
            </p>
            <p>$_('Stop this run stations'): <span class="val">
            $if "-1" in sensor.sw6_open_stations:
                $_('None')
            $if "-1" not in sensor.sw6_open_stations:
                $for station in [station for station in stations if station.enabled]:
                    $if str(station.index) in sensor.sw6_open_stations:
                        $station.name ($_('Output') ${str(station.index+1)})
            </span></p>
            <hr>
        $if sensor.com_type == 0 and sensor.enabled and sensor.manufacturer==0:
            <p>
            <hr>
            </p>
            <p>$_('IP Address'): <span class="val">${sensor.ip_address[0]}.${sensor.ip_address[1]}.${sensor.ip_address[2]}.${sensor.ip_address[3]}</span></p>
            $if sensor.mac_address != '':
                <p>$_('MAC Address'): <span class="val">${sensor.mac_address}</span></p> 
            $if sensor.rssi != '':
                <p>$_('Last RSSI Level'): <span class="val">${sensor.rssi} $_('%')</span></p>
            $if sensor.last_battery != '':
                <p>$_('Last Power supply voltage'): <span class="val">${sensor.last_battery} $_('V')</span></p>
                
        $if sensor.com_type == 1 and sensor.enabled and sensor.manufacturer==0:
            <p>$_('Radio ID'): <span class="val">${sensor.radio_id}</span></p>
            $if sensor.last_battery != '':
                <p>$_('Last Battery voltage'): <span class="val">${sensor.last_battery} $_('V')</span></p>
        
        $if sensor.enabled:
            $if sensor.manufacturer==0:
                <p>$_('Firmware Version'): <span class="val">${version(sensor.fw)}</span></p>
            $elif sensor.manufacturer==1:
                <p>
                    <hr>
                </p>
                <p>
                $_('Outputs status'):
                $if len(sensor.last_read_value[0]):
                    <span class="val">
                    $for i, state in enumerate(sensor.last_read_value[0]):
                        $if state:
                            ${i+1} $_('ON')${', ' if len(sensor.last_read_value[0]) > 1 else ''}
                        $else:
                            ${i+1} $_('OFF')${', ' if len(sensor.last_read_value[0]) > 1 else ''}
                    </span>
                $else:
                    $_('No outputs')
                </p>
                <p>
                $_('Power outputs'):
                $if len(sensor.last_read_value[1]):
                    <span class="val">
                    $for i, pwr in enumerate(sensor.last_read_value[1]):
                        ${i+1}= $pwr $_('W')${', ' if len(sensor.last_read_value[1]) > 1 else ''}
                    </span>
                </p>
                <p>
                $_('Temperatures'):
                $if len(sensor.last_read_value[2]):
                    <span class="val">
                    $for i, temp in enumerate(sensor.last_read_value[2]):
                        ${i+1}= $temp &deg$_('C')${', ' if len(sensor.last_read_value[2]) > 1 else ''}
                    </span>
                $else:
                    $_('Can not measure temperature.')
                </p>
                <p>
                $_('Humidity'):
                $if len(sensor.last_read_value[3]):
                    <span class="val">
                    $for i, humi in enumerate(sensor.last_read_value[3]):
                        ${i+1}= $humi $_('%RH')${', ' if len(sensor.last_read_value[3]) > 1 else ''}
                    </span>
                $else:
                    $_('Can not measure humidity.')
                </p>
                <p>
                    <hr>
                </p>
                $ type_list = [_('Voltage'), _('Output 1'), _('Output 2'), _('Output 3'), _('Output 4'), _('Temperature 1'), _('Temperature 2'), _('Temperature 3'), _('Temperature 4'), _('Temperature 5'), _('Power 1'), _('Power 2'), _('Power 3'), _('Power 4'), _('Moisture')]
                <p>
                $_('Activation type'):
                <span class="val">$type_list[sensor.sens_type]</span>
                </p>
                <p>$_('Low Threshold'): <span class="val">${sensor.s_trigger_low_threshold}
                $if sensor.sens_type == 0:
                    $_('V') 
                $if sensor.sens_type == 1 or sensor.sens_type == 2 or sensor.sens_type == 3 or sensor.sens_type == 4:
                    $_('OFF')
                $if sensor.sens_type == 5 or sensor.sens_type == 6 or sensor.sens_type == 7 or sensor.sens_type == 8:
                    $_('℃')
                $if sensor.sens_type == 9 or sensor.sens_type == 10 or sensor.sens_type == 11 or sensor.sens_type == 12:
                    $_('W')
                $if sensor.sens_type == 13:
                    $_('%RV')
                </span></p>
                <p>$_('Program(s)'): <span class="val">
                $if "-1" in sensor.s_trigger_low_program:
                    $_('None')
                $if "-1" not in sensor.s_trigger_low_program:
                    $for program in programs.get():
                        $if str(program.index+1) in sensor.s_trigger_low_program:
                            $program.name 
                </span></p>
                <p>$_('High Threshold'): <span class="val">${sensor.s_trigger_high_threshold}
                $if sensor.sens_type == 0:
                    $_('V') 
                $if sensor.sens_type == 1 or sensor.sens_type == 2 or sensor.sens_type == 3 or sensor.sens_type == 4:
                    $_('ON')
                $if sensor.sens_type == 5 or sensor.sens_type == 6 or sensor.sens_type == 7 or sensor.sens_type == 8:
                    $_('℃')
                $if sensor.sens_type == 9 or sensor.sens_type == 10 or sensor.sens_type == 11 or sensor.sens_type == 12:
                    $_('W')
                $if sensor.sens_type == 13:
                    $_('%RV')
                </span></p>
                <p>$_('Program(s)'): <span class="val">
                $if "-1" in sensor.s_trigger_high_program:
                    $_('None')
                $if "-1" not in sensor.s_trigger_high_program:
                    $for program in programs.get():
                        $if str(program.index+1) in sensor.s_trigger_high_program:
                            $program.name
                <p>
                    <hr>
                </p>
                <p>$_('Device Hardware'): <span class="val">${sensor.shelly_hw}</span></p>
                <p>$_('Device Generation'): <span class="val">${sensor.shelly_gen}</span></p>
                $if sensor.rssi != '':
                    <p>$_('Last RSSI Level'): <span class="val">${sensor.rssi} $_('dbm') (${dbm_to_percentage(sensor.rssi)} $_('%'))</span></p>
                $if sensor.last_battery != '' and sensor.last_battery > 0:
                    <p>$_('Last battery voltage'): <span class="val">${sensor.last_battery} $_('%')</span></p>
                $else:
                    <p>$_('Last battery voltage'): <span class="val">$_('0 %')</span> $_('(maybe it is an error or the device can not measure this.)')</p>
                $if sensor.last_voltage != '' and sensor.last_voltage > 0:
                    <p>$_('Last mains power voltage'): <span class="val">${sensor.last_voltage} $_('V')</span></p>
                $else:
                    <p>$_('Last mains power voltage'): <span class="val">$_('0 V')</span> $_('(maybe it is an error or the device can not measure this.)')</p>

        $if sensor.notes:
            <p>$_('Notes'):</p>
            <p>
            <textarea title=$:{json.dumps(_('Sensor Notes.'), ensure_ascii=False).encode('utf8').decode('utf-8')} rows="1" cols="60" readonly style="background-color: #F5F5F5;">${sensor.notes}
            </textarea>
            </p>
        <p>    
        <a href="/sensor/${sensor.index}" class="button cModify"> $_('Edit Sensor') </a>
        $if sensor.sens_type != 7:
            <a href="/sensor/${sensor.index}?log" class="button backup"> $_('View Logs')</a>
            <a href="/sensor/${sensor.index}?graph" class="button upload"> $_('View Graph')</a>
        <a href="/sensor/${sensor.index}?delete" class="button cDelete danger"> $_('Delete Sensor')</a>
        </p>
        </div>
        </div>
    </br>
    </br>
</div>