$def with ()

$var title: $_(u'A list of sensors')
$var page: users

$code:   
    def two_digits(n):
        return '%02d' % int(n)   

    intervals = (
    (_(u'weeks'), 604800),  # 60 * 60 * 24 * 7
    (_(u'days'), 86400),    # 60 * 60 * 24
    (_(u'hours'), 3600),    # 60 * 60
    (_(u'minutes'), 60),
    (_(u'seconds'), 1),
    )

    def display_time(seconds, granularity=2):
        result = []
      
        for name, count in intervals:
            name = name.encode('utf-8')
            value = seconds // count
            if value:
                seconds -= value * count
                result.append("{} {}".format(int(value), name))
        return ', '.join(result[:granularity])

<script>
function updateFooter(){
    jQuery.getJSON("/update_footer", function(osVals) {
        let cpu_temp = osVals.cpu_temp;
        let cpu_usage = osVals.cpu_usage;
        let sys_uptime = osVals.sys_uptime;
        let sys_ip = osVals.ip;

        jQuery("#cpu_temp span.cpu_temp").text(cpu_temp);
        jQuery("#cpu_usage span.cpu_usage").text(cpu_usage);
        jQuery("#ip span.ip").text(sys_ip);
        jQuery("#uptime span.uptime").text(sys_uptime);
    })
        
    setTimeout(updateFooter, 5000); 
}

jQuery(document).ready(function(){
    updateFooter(); 
});
</script>

<div id="controls">
    <a href="/sensor/new" class="button add">$_(u'Add a New Sensor')</a>
    <a href="/sensors?delete_all" class="button deleteAll danger">$_(u'Delete All Sensors')</a>
    <a href="/sensors?search" class="button cModify"> $_(u'Searching Sensors')</a>
</div>
</br>

<div id="controls">
$if sensors.count()>0:    
    $for sensor in sensors.get():
        <div id="sensor-container" class="sensor-container">
        $ type_list = [_(u'None'), _(u'Dry Contact'), _(u'Leak Detector'), _(u'Moisture'), _(u'Motion'), _(u'Temperature'), _(u'Multi')]
        $ multi_list = [_(u'Temperature DS1'), _(u'Temperature DS2'), _(u'Temperature DS3'), _(u'Temperature DS4'), _(u'Dry Contact'), _(u'Leak Detector'), _(u'Moisture'), _(u'Motion')]
        <div id="p${sensor.index}" class="controlBlock program ${'' if sensor.enabled else 'disabled'}">
        <p>
            <a href="/sensor/${sensor.index}?enable=${'0' if sensor.enabled else '1'}" class="button cDisable toggle ${'on' if sensor.enabled else 'off'}" title=$:{json.dumps(_(u'Enabling or disabling this sensor.'), ensure_ascii=False)}>
                <span class='toggleleft'>$_('On')</span>
                <span class='togglesep'>&nbsp;</span>
                <span class='toggleright'>$_('Off')</span>
            </a>
            ${sensor.index+1}. $_(u'Name'): <span class="val">${sensor.name}</span> $_(u'Type'): <span class="val">$type_list[sensor.sens_type] ${multi_list[sensor.multi_type] if sensor.sens_type == 6 else ''}</span>
        </p>
        </br>
        <p>            
        $if sensor.response == 1:
            <div id="green_circle"></div>
            <b>$_(u'Link OK')</b> - $_(u'Last:') $display_time(now() - sensor.last_response)
        $else:
            <div id="red_circle"></div>
            <b>$_(u'Link ERROR')!</b> - $_(u'Last:') $display_time(now() - sensor.last_response)
        </p>
        <p>$_(u'Show in Footer on Home'): <span class="val">${_(u'Yes') if sensor.show_in_footer else _(u'No')}</span></p>      
        <p>$_(u'Sample Rate'): <span class="val">${two_digits(sensor.sample_rate/60) + ":" + two_digits(sensor.sample_rate%60)} ($_(u'mm:ss'))</span></p>
        <p>$_(u'Log Samples'): <span class="val">${_(u'Yes') if sensor.log_samples else _(u'No')}</span></p>
        <p>$_(u'Log Events'): <span class="val">${_(u'Yes') if sensor.log_event else _(u'No')}</span></p>
        <p>$_(u'Text/Email Events'): <span class="val">${_(u'Yes') if sensor.send_email else _(u'No')}</span></p>
        $if sensor.sens_type == 1:
            $if sensor.last_read_value != '' and sensor.last_read_value != -1:
                <p>$_(u'Last Read Value'): <span class="val">${str(sensor.last_read_value)}</span> (${_(u'Contact Closed') if int(sensor.last_read_value)==1 else _(u'Contact Open')})</p>
            $else:
                <p>$_(u'Last Read Value'): <span class="val">${str(sensor.last_read_value)}</span> (${_(u'Change not yet loaded')})</p>
            <p>$_(u'Open Program(s)'): <span class="val">
            $if "-1" in sensor.trigger_low_program:
                $_(u'None')
            $if "-1" not in sensor.trigger_low_program:
                $for program in programs.get():
                    $if str(program.index+1) in sensor.trigger_low_program:
                        $program.name
            </span></p>
            <p>$_(u'Closed Program(s)'): <span class="val">
            $if "-1" in sensor.trigger_low_program:
                $_(u'None') 
            $if "-1" not in sensor.trigger_low_program:
                $for program in programs.get():
                    $if str(program.index+1) in sensor.trigger_high_program:
                        $program.name 
            </span></p> 
        $elif sensor.sens_type == 2:
            $if sensor.last_read_value != '' and sensor.last_read_value != -1.0:
                <p>$_(u'Last Read Value'): <span class="val">${str(sensor.last_read_value)}</span></p>
            $else:
                <p>$_(u'Last Read Value'): <span class="val">${str(sensor.last_read_value)}</span> (${_(u'Change not yet loaded')})</p>                
            <p>$_(u'Sensitivity'): <span class="val">${sensor.sensitivity} $_(u'%')</span></p>
            <p>$_(u'Stabilization Time'): <span class="val">${two_digits(sensor.stabilization_time/60)}:${two_digits(sensor.stabilization_time%60)} ($_(u'mm:ss'))</span></p>
            <p>$_(u'Low Program(s)'): <span class="val">
            $if "-1" in sensor.trigger_low_program:
                $_(u'None')
            $if "-1" not in sensor.trigger_low_program:               
                $for program in programs.get():
                    $if str(program.index+1) in sensor.trigger_low_program:
                        $program.name 
            </span></p>                
            <p>$_(u'High Program(s)'): <span class="val">
            $if "-1" in sensor.trigger_high_program:
                $_(u'None')
            $if "-1" not in sensor.trigger_high_program:                
                $for program in programs.get():
                    $if str(program.index+1) in sensor.trigger_high_program:
                        $program.name 
            </span></p>               
        $elif sensor.sens_type == 3:
            $if sensor.last_read_value != '' and sensor.last_read_value != -1.0:
                <p>$_(u'Last Read Value'): <span class="val">${str(sensor.last_read_value)} $_(u'%')</span></p>
            $else:
                <p>$_(u'Last Read Value'): <span class="val">${str(sensor.last_read_value)}</span> (${_(u'Change not yet loaded')})</p>                
            <p>$_(u'Low Threshold'): <span class="val">${sensor.trigger_low_threshold} $_(u'%')</span></p>
            <p>$_(u'Program(s)'): <span class="val">
            $if "-1" in sensor.trigger_low_program:
                $_(u'None')
            $if "-1" not in sensor.trigger_low_program:            
                $for program in programs.get():
                    $if str(program.index+1) in sensor.trigger_low_program:
                        $program.name 
            </span></p>                
            <p>$_(u'High Threshold'): <span class="val">${sensor.trigger_high_threshold} $_(u'%')</span></p>
            <p>$_(u'Program(s)'): <span class="val">
            $if "-1" in sensor.trigger_high_program:
                $_(u'None')
            $if "-1" not in sensor.trigger_high_program:            
                $for program in programs.get():
                    $if str(program.index+1) in sensor.trigger_high_program:
                        $program.name 
            </span></p>                
        $elif sensor.sens_type == 4:
            $if sensor.last_read_value != '' and sensor.last_read_value != -1:
                <p>$_(u'Last Read Value'): <span class="val">${str(sensor.last_read_value)}</span> (${_(u'Motion Detected') if int(sensor.last_read_value)==1 else _(u'No Motion')})</p>
            $else:
                <p>$_(u'Last Read Value'): <span class="val">${str(sensor.last_read_value)}</span> (${_(u'Change not yet loaded')})</p>                
            <p>$_(u'Program(s)'): <span class="val">
            $if "-1" in sensor.trigger_high_program:
                $_(u'None')
            $if "-1" not in sensor.trigger_high_program:            
                $for program in programs.get():
                    $if str(program.index+1) in sensor.trigger_high_program:
                        $program.name 
            </span></p>              
        $elif sensor.sens_type == 5:
            $if sensor.last_read_value != '':
                <p>$_(u'Last Read Value'): <span class="val">${str(sensor.last_read_value)}
                $if options.temp_unit == 'F':
                    &degF
                $if options.temp_unit == 'C':
                    &degC 
                </span></p>
            <p>$_(u'Low Threshold'): <span class="val">${sensor.trigger_low_threshold}
            $if options.temp_unit == 'F':
                &degF
            $if options.temp_unit == 'C':
                &degC
            </span></p>
            <p>$_(u'Program(s)'): <span class="val">
            $if "-1" in sensor.trigger_low_program:
                $_(u'None')
            $if "-1" not in sensor.trigger_low_program:            
                $for program in programs.get():
                    $if str(program.index+1) in sensor.trigger_low_program:
                        $program.name 
            </span></p>                
            <p>$_(u'High Threshold'): <span class="val">${sensor.trigger_high_threshold}
            $if options.temp_unit == 'F':
                &degF
            $if options.temp_unit == 'C':
                &degC
            </span></p>
            <p>$_(u'Program(s)'): <span class="val">
            $if "-1" in sensor.trigger_high_program:
                $_(u'None')
            $if "-1" not in sensor.trigger_high_program:            
                $for program in programs.get():
                    $if str(program.index+1) in sensor.trigger_high_program:
                        $program.name 
            </span></p>   
        $elif sensor.sens_type == 6:
            $if sensor.multi_type >= 0 and sensor.multi_type <4:
                $if sensor.last_read_value != '':
                    <p>$_(u'Last Read Value'): <span class="val">${str(sensor.last_read_value[sensor.multi_type])}
                    $if options.temp_unit == 'F':
                        &degF
                    $if options.temp_unit == 'C':
                        &degC 
                    </span></p>
                <p>$_(u'Low Threshold'): <span class="val">${sensor.trigger_low_threshold}
                $if options.temp_unit == 'F':
                    &degF
                $if options.temp_unit == 'C':
                    &degC
                </span></p>
                <p>$_(u'Program(s)'): <span class="val">
                $if "-1" in sensor.trigger_low_program:
                    $_(u'None')
                $if "-1" not in sensor.trigger_low_program:                
                    $for program in programs.get():
                        $if str(program.index+1) in sensor.trigger_low_program:
                            $program.name 
                </span></p>                
                <p>$_(u'High Threshold'): <span class="val">${sensor.trigger_high_threshold}
                $if options.temp_unit == 'F':
                    &degF
                $if options.temp_unit == 'C':
                    &degC
                </span></p>
                <p>$_(u'Program(s)'): <span class="val">
                $if "-1" in sensor.trigger_high_program:
                    $_(u'None')
                $if "-1" not in sensor.trigger_high_program:                
                    $for program in programs.get():
                        $if str(program.index+1) in sensor.trigger_high_program:
                            $program.name 
                </span></p>        
            $elif sensor.multi_type == 4:
                $if sensor.last_read_value != '' and sensor.last_read_value != -1:
                    <p>$_(u'Last Read Value'): <span class="val">${str(sensor.last_read_value[4])}</span> (${_(u'Contact Closed') if int(sensor.last_read_value[4])==1 else _(u'Contact Open')})</p>
                $else:
                    <p>$_(u'Last Read Value'): <span class="val">${str(sensor.last_read_value[4])}</span> (${_(u'Change not yet loaded')})</p>    
                <p>$_(u'Open Program(s)'): <span class="val">
                $if "-1" in sensor.trigger_low_program:
                    $_(u'None')
                $if "-1" not in sensor.trigger_low_program:                
                    $for program in programs.get():
                        $if str(program.index+1) in sensor.trigger_low_program:
                            $program.name 
                </span></p>        
                <p>$_(u'Closed Program(s)'): <span class="val">
                $if "-1" in sensor.trigger_high_program:
                    $_(u'None')
                $if "-1" not in sensor.trigger_high_program:               
                    $for program in programs.get():
                        $if str(program.index+1) in sensor.trigger_high_program:
                            $program.name 
                </span></p>
            $elif sensor.multi_type == 5:
                $if sensor.last_read_value != '':
                    <p>$_(u'Last Read Value'): <span class="val">${str(sensor.last_read_value[5])}</span></p>
                <p>$_(u'Sensitivity'): <span class="val">${sensor.sensitivity} $_(u'%')</span></p>
                <p>$_(u'Stabilization Time'): <span class="val">${two_digits(sensor.stabilization_time/60)}:${two_digits(sensor.stabilization_time%60)} ($_(u'mm:ss'))</span></p>
                <p>$_(u'Low Program(s)'): <span class="val">
                $if "-1" in sensor.trigger_low_program:
                    $_(u'None')
                $if "-1" not in sensor.trigger_low_program:
                    $for program in programs.get():
                        $if str(program.index+1) in sensor.trigger_low_program:
                            $program.name 
                </span></p>
                <p>$_(u'High Program(s)'): <span class="val">
                $if "-1" in sensor.trigger_high_program:
                    $_(u'None')
                $if "-1" not in sensor.trigger_high_program:
                    $for program in programs.get():
                        $if str(program.index+1) in sensor.trigger_high_program:
                            $program.name 
                </span></p> 
            $elif sensor.multi_type == 6:
                $if sensor.last_read_value != '':
                    <p>$_(u'Last Read Value'): <span class="val">${str(sensor.last_read_value[6])} $_(u'%')</span></p>
                <p>$_(u'Low Threshold'): <span class="val">${sensor.trigger_low_threshold} $_(u'%')</span></p>
                <p>$_(u'Program(s)'): <span class="val">
                $if "-1" in sensor.trigger_low_program:
                    $_(u'None')
                $if "-1" not in sensor.trigger_low_program:
                    $for program in programs.get():
                        $if str(program.index+1) in sensor.trigger_low_program:
                            $program.name 
                </span></p>
                <p>$_(u'High Threshold'): <span class="val">${sensor.trigger_high_threshold} $_(u'%')</span></p>
                <p>$_(u'Program(s)'): <span class="val">
                $if "-1" in sensor.trigger_high_program:
                    $_(u'None')
                $if "-1" not in sensor.trigger_high_program:
                    $for program in programs.get():
                        $if str(program.index+1) in sensor.trigger_high_program:
                            $program.name 
                </span></p>
            $elif sensor.multi_type == 7:
                $if sensor.last_read_value != '' and sensor.last_read_value != -1:
                    <p>$_(u'Last Read Value'): <span class="val">${str(sensor.last_read_value[7])}</span> (${_(u'Motion Detected') if int(sensor.last_read_value[7])==1 else _(u'No Motion')})</p>
                $else:
                    <p>$_(u'Last Read Value'): <span class="val">${str(sensor.last_read_value[7])}</span> (${_(u'Change not yet loaded')})</p>    
                <p>$_(u'Program(s)'): <span class="val">
                $if "-1" in sensor.trigger_high_program:
                    $_(u'None')
                $if "-1" not in sensor.trigger_high_program:
                    $for program in programs.get():
                        $if str(program.index+1) in sensor.trigger_high_program:
                            $program.name 
                </span></p>
    
        $if sensor.com_type == 0:
            <p>$_(u'IP Address'): <span class="val">${sensor.ip_address[0]}.${sensor.ip_address[1]}.${sensor.ip_address[2]}.${sensor.ip_address[3]}</span></p>
            $if sensor.mac_address != '':
                <p>$_(u'MAC Address'): <span class="val">${sensor.mac_address}</span></p> 
            $if sensor.rssi != '':
                <p>$_(u'Last RSSI Level'): <span class="val">${sensor.rssi} $_(u'%')</span></p>
            $if sensor.last_battery != '':
                <p>$_(u'Last Power supply voltage'): <span class="val">${sensor.last_battery} $_(u'V')</span></p>
                
        $if sensor.com_type == 1:
            <p>$_(u'Radio ID'): <span class="val">${sensor.radio_id}</span></p>
            $if sensor.last_battery != '':
                <p>$_(u'Last Battery voltage'): <span class="val">${sensor.last_battery} $_(u'V')</span></p>   
        
        $if sensor.fw > 0:
            <p>$_(u'Firmware Version'): <span class="val">${float(sensor.fw)/100.0}</span></p>
                                                      
        <p>         
        <a href="/sensor/${sensor.index}" class="button cModify"> $_(u'Edit Sensor') </a>
        <a href="/sensor/${sensor.index}?log" class="button backup"> $_(u'View Logs')</a>
        <a href="/sensor/${sensor.index}?graph" class="button upload"> $_(u'View Graph')</a>
        <a href="/sensor/${sensor.index}?delete" class="button cDelete danger"> $_(u'Delete Sensor')</a>
        </p>   
        </div>     
        </div> 
    </br>
    </br>     
</div>    
   