$def with (statusCode)

$var title: $_(u'Update sensors firmware')
$var page: sensors_firmware

$code:
    def _version(s):
        if s>0:
            res = [int(x) for x in str(s)]  
            return u"{}.{}{}".format(res[0], res[1], res[2])
        else:
            return u"-.--"   

<script>

function checkPASS(){
    let pass = jQuery(".pass").val();
    console.log(pass);
    if(pass != ''){
        return 0;
    }
    else{    
        alert($:{json.dumps(_('Password not set!'), ensure_ascii=False).encode('utf8').decode('utf-8')});
        return 1;
    }
}

function checkIP(){       
    let IPAddress = jQuery(".IPnumbersOnly").val();
    let IPRegex=new RegExp("^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)");
    let test = IPRegex.test(IPAddress);
    if(test){
        return 0;
    }
    else{    
        alert($:{json.dumps(_('IP address is not valid!'), ensure_ascii=False).encode('utf8').decode('utf-8')});
        return 1;
    }
}

jQuery(".IPnumbersOnly").keyup(function () {
    let newValue = this.value.replace(/[^0-9\.]/g, '');
    this.value = newValue;
});


jQuery(document).ready(function(){
    jQuery("#cSubmit").click(function() {
        if(checkIP()){
            return;
        }
        else if(checkPASS()){
            return;
        }
        else if( document.getElementById("uploadfile").files.length == 0){
            alert($:{json.dumps(_('No file selected!'), ensure_ascii=False).encode('utf8').decode('utf-8')});
            return;
        }
        else{
           jQuery("#CustomForm").submit();
        }
    });

    var statusCode = "${statusCode}";
    switch (statusCode) {
        case "upl_ok":
            jQuery("#msg").text($:{json.dumps(_('The new firmware file has been sent to the sensor, wait for the sensor to respond - check if the sensor has been updated.'), ensure_ascii=False).encode('utf8').decode('utf-8')}).css('color', 'green');
        break;
        case "err1":
            jQuery("#msg").text($:{json.dumps(_('No xxx.bin file was found in the directory to send to the sensor!'), ensure_ascii=False).encode('utf8').decode('utf-8')}).css('color', 'red');
        break; 
        case "err2":
            jQuery("#msg").text($:{json.dumps(_('The new firmware could not be uploaded into the sensor. Sensor does not respond!'), ensure_ascii=False).encode('utf8').decode('utf-8')}).css('color', 'red');
        break;  
        case "err3":
            jQuery("#msg").text($:{json.dumps(_('The new firmware could not be uploaded into the sensor. Response - Not Found!'), ensure_ascii=False).encode('utf8').decode('utf-8')}).css('color', 'red');
        break;   
        case "err4":
            jQuery("#msg").text($:{json.dumps(_('The new firmware could not be uploaded into the sensor. An error has occurred!'), ensure_ascii=False).encode('utf8').decode('utf-8')}).css('color', 'red');
        break; 
        case "ap_ok":
            jQuery("#msg").text($:{json.dumps(_('The sensor responded and probably started the AP manager.'), ensure_ascii=False).encode('utf8').decode('utf-8')}).css('color', 'green');
        break;
        case "err5":
            jQuery("#msg").text($:{json.dumps(_('It was not processed, the command does not exist in the sensor. Do you have the latest FW version of the sensor?'), ensure_ascii=False).encode('utf8').decode('utf-8')}).css('color', 'red');
        break;
        case "err6":
            jQuery("#msg").text($:{json.dumps(_('An error, the sensor did not respond correctly!'), ensure_ascii=False).encode('utf8').decode('utf-8')}).css('color', 'red');
        break;
        case "err7":
            jQuery("#msg").text($:{json.dumps(_('Sensor does not respond!'), ensure_ascii=False).encode('utf8').decode('utf-8')}).css('color', 'red');
        break;
        case "err8":
            jQuery("#msg").text($:{json.dumps(_('Accepted is only *.hex or *.bin files!'), ensure_ascii=False).encode('utf8').decode('utf-8')}).css('color', 'red');
        break;      
        case "err9":
            jQuery("#msg").text($:{json.dumps(_('IP or port or password is not inserted!'), ensure_ascii=False).encode('utf8').decode('utf-8')}).css('color', 'red');
        break; 
    }

    jQuery("#FWtable > tbody > tr:even").addClass("even");   //  odd/even row coloring
    jQuery("#CFWtable > tbody > tr:even").addClass("even");  //  odd/even row coloring
});
</script>

<span class='msg' id='msg'></span>

<div class="title">$_(u'Update sensors firmware')</div>
<div id="sensor-container" class="sensor-container">
    <p>$_(u'Actual available firmware version for ESP32 sensors') 
    $if version.ver_esp32 != "-":
        <b>$_(u'FW:')${version.ver_esp32}</b>
        <a href="https://github.com/martinpihrt/OSPy/tree/master/hardware_pcb/sensors_pcb_fw/ESP32/sensor_esp32_fw${version.ver_esp32}/" class="button upload" target="_blank" rel="noopener noreferrer">$_('Open dir')
        </a>
    $else:
        <b>$_('Not available')</b>    
    </p>
    <p>$_(u'Actual available firmware version for ESP8266 sensors')
    $if version.ver_esp8266 != "-":  
        <b>$_(u'FW:')${version.ver_esp8266}</b>
        <a href="https://github.com/martinpihrt/OSPy/tree/master/hardware_pcb/sensors_pcb_fw/ESP32/sensor_esp8266_fw${version.ver_esp8266}/" class="button upload" target="_blank" rel="noopener noreferrer">$_('Open dir')
        </a>
    $else:
        <b>$_('Not available')</b>        
    </p> 
    <br/>
    <p>$_('These sensors are already assigned.') $_('"AP button" is used for starting AP manager in sensor without physical access to sensor.')</p>
    <table class="logList" id="FWtable">
        <thead>
        <tr class="log_rec">
            <th>$_(u'Sensor Name')</th>
            <th>$_(u'Sensor CPU')</th>
            <th>$_(u'Sensor IP Address')</th>
            <th>$_(u'MAC Address')</th>
            <th>$_(u'Used Version')</th>
            <th>$_(u'State')</th>
            <th>$_(u'Run AP')</th>
        </tr>
        </thead>
        $for sensor in sensors.get():
            <tr class="log_rec">
            <td>${sensor.name}</td>
            <td>
            $if sensor.cpu_core == 0:
                $_(u'ESP32')
            $elif sensor.cpu_core == 1:
                $_(u'ESP8266')
            $else:
                $_('Not available')
            </td>
            <td>${sensor.ip_address[0] +'.'+ sensor.ip_address[1]+'.'+ sensor.ip_address[2]+'.'+ sensor.ip_address[3]}</td>
            <td>${sensor.mac_address}</td>
            <td>$_version(sensor.fw)</td>
            $if sensor.cpu_core == 0 and version.ver_esp32 != "-":
                <td>
                $if _version(sensor.fw) == version.ver_esp32:
                    <a href="/firmware" class="button cModify" rel="noopener noreferrer">$_('Actual')</a>
                $elif _version(sensor.fw) > version.ver_esp32:
                    <a href="/firmware" class="button cModify" rel="noopener noreferrer">$_('Sensor has a newer version')</a>
                $else:  
                    <a href="/firmware?id=${str(sensor.index)}" class="button deleteAll danger" rel="noopener noreferrer">$_('Update to FW:')${version.ver_esp32}</a> 
                </td>
            $if sensor.cpu_core == 1 and version.ver_esp8266 != "-":
                <td>
                $if _version(sensor.fw) == version.ver_esp8266:
                    <a href="/firmware" class="button cModify" rel="noopener noreferrer">$_('Actual')</a>
                $elif _version(sensor.fw) > version.ver_esp8266:
                    <a href="/firmware" class="button cModify" rel="noopener noreferrer">$_('Sensor has a newer version')</a>
                $else:                
                    <a href="/firmware?id=${str(sensor.index)}" class="button deleteAll danger" rel="noopener noreferrer">$_('Update to FW:')${version.ver_esp8266}</a> 
                </td>
            <td><a href="/firmware?aid=${str(sensor.index)}" class="button deleteAll danger" rel="noopener noreferrer">$_('AP')</a></td>
            </tr>
        <tbody>
    </table>
</div>     

<div class="title">$_(u'Custom manualy firmware upgrade')</div>
<div id="sensor-container" class="sensor-container">
    <p>$_('Select the file for the sensor, the IP address and the port of the sensor. This option is used to upload your own firmware to the sensor without of the selection from OSPy versions.')</p>
    <p>$_('Example data line: "http(s)://ip:port/password".')</p>
    <form id="CustomForm" method="post" action="" enctype="multipart/form-data">
    <input type="hidden" name="cid" value="1"> 
    <table class="logList" id="CFWtable">
    <thead>
    <tr class="log_rec">
        <th>$_('Protocol')</th>
        <th>$_('IP address')</th>
        <th>$_('Port')</th>
        <th>$_('Password')</th>
        <th>$_('Upload to sensor')</th>
    </tr>
    </thead>
    <tr class="log_rec">
        <td title=$:{json.dumps(_(u'Protocol for sending data "http" or "https"'), ensure_ascii=False).encode('utf8').decode('utf-8')}>
            <select name="protocol" id="protocol">
                <option value="0">$_(u'HTTP')</option>
                <option value="1">$_(u'HTTPS')</option>
            </select>    
        </td>        
        <td title=$:{json.dumps(_(u'IP address'), ensure_ascii=False).encode('utf8').decode('utf-8')}>
            <input name="ip_address" class="IPnumbersOnly" type="text" size="15" maxlength="15" id="ip_address"/>
        </td>
        <td title=$:{json.dumps(_(u'Port'), ensure_ascii=False).encode('utf8').decode('utf-8')}>
            <input type="number" name="port" id="port" step="1" min="0" max="65353" size="5" value="80"/>
        </td>
        <td title=$:{json.dumps(_(u'Password for uploading to sensor. Same must be saved in sensor.'), ensure_ascii=False).encode('utf8').decode('utf-8')}>
            <input name="pass" id="pass" class="pass" type="text" size="30" maxlength="50" value="${options.sensor_fw_passwd}"/>
        </td>        
        <td>
            <button id="cSubmit" class="button upload">$_('Submit')</button>
        </td>
    </tr>
    <tr>
        <td colspan="5" title=$:{json.dumps(_(u'File must have a name *.bin or *.hex'), ensure_ascii=False).encode('utf8').decode('utf-8')}>
            <input name="uploadfile" id="uploadfile" type="file" class="button upload" accept=".bin, .hex"/>
        </td>
    </tr>    
    <tbody>
    </table>
    </form>    
</div>

<div id="controls">
    <a href="sensors" class="button add">$_('Back to Sensors')</a>
    <a href="firmware" class="button add">$_('Refresh')</a>
    <a href="/sensors?search" class="button cModify"> $_(u'Searching Sensors')</a>
</div>