$def with(go_to)

$var title: $_('Unreachable')
$var page: unreachable

<script>
    var checkTimer;

    function checkPage() {
        jQuery.ajax({
            type: 'HEAD',
            url: '${go_to}',
            success: function() {
                if (checkTimer != null) {
                    clearTimeout(checkTimer);
                }
                window.location.replace('${go_to}');
            }
        });
    }

    jQuery(document).ready(function(){
        setTimeout(function() {
            checkTimer = setInterval(function() {
                checkPage();
            }, 1000);
        }, 5000);
    });

    var close = document.getElementsByClassName("closebtn");
    var i;

    for (i = 0; i < close.length; i++) {
        close[i].onclick = function(){
        var div = this.parentElement;
        div.style.opacity = "0";
        setTimeout(function(){ div.style.display = "none"; }, 600);
        }
    }
</script>


<div class="alert info">
  <span class="closebtn">&times;</span>  
  <strong>$_('Unreachable!')</strong> $_('System component is unreachable or busy. Please wait (try again later).')
</div>
