$def with(go_to)

$var title: $_('Unreachable')
$var page: unreachable

<script>
    var checkTimer;

    function checkPage() {
        jQuery.ajax({
            type: 'HEAD',
            url: '${go_to}',
            success: function() {
                if (checkTimer != null) {
                    clearTimeout(checkTimer);
                }
                window.location.replace('${go_to}');
            }
        });
    }

    jQuery(document).ready(function(){
        setTimeout(function() {
            checkTimer = setInterval(function() {
                checkPage();
            }, 1000);
        }, 5000);
    });
</script>
<div id="unreachable">
    <div class="title">$_('Unreachable')</div>
    $_('System component is unreachable or busy. Please wait (try again later).')