$def with (user, errorCode)

$var title: $_('Modify User')
$var page: user

<script>
    function updateFooter(){
    jQuery.getJSON("/update_footer", function(osVals) {
        let cpu_temp = osVals.cpu_temp;
        let cpu_usage = osVals.cpu_usage;
        let sys_uptime = osVals.sys_uptime;
        let sys_ip = osVals.ip;

        jQuery("#cpu_temp span.cpu_temp").text(cpu_temp);
        jQuery("#cpu_usage span.cpu_usage").text(cpu_usage);
        jQuery("#ip span.ip").text(sys_ip);
        jQuery("#uptime span.uptime").text(sys_uptime);
    })
        
    setTimeout(updateFooter, 5000); 
    }
    
    var errorCode = "${errorCode}";
    jQuery(document).ready(function(){
        jQuery("#cSubmit").click(function() {
            jQuery("#userForm").submit();
        });
    jQuery("button#cCancel").click(function(){
        window.location="/users";
        });

    switch (errorCode) {
        case "uname":
            jQuery("#errorHint").text($:{json.dumps(_('Error: Username not entered! Please try again.'), ensure_ascii=False).encode('utf8')}).css('color', 'red');
        break;
        case "unamelen":
            jQuery("#errorHint").text($:{json.dumps(_('Error: Username has not minimal lenght! Please try again.'), ensure_ascii=False).encode('utf8')}).css('color', 'red');
        break;     
        case "upasslen":
            jQuery("#errorHint").text($:{json.dumps(_('Error: Password has not minimal lenght! Please try again.'), ensure_ascii=False).encode('utf8')}).css('color', 'red');
        break;            
        case "upass":
            jQuery("#errorHint").text($:{json.dumps(_('Error: Password not entered! Please try again.'), ensure_ascii=False).encode('utf8')}).css('color', 'red');
        break; 
        case "upassuname":
            jQuery("#errorHint").text($:{json.dumps(_('Error: Password and name cannot be the same! Please try again.'), ensure_ascii=False).encode('utf8')}).css('color', 'red');
        break;  
        case "unameis":
            jQuery("#errorHint").text($:{json.dumps(_('Error: Username already exists, use another name! Please try again.'), ensure_ascii=False).encode('utf8')}).css('color', 'red');
        break;                      
    }
    updateFooter(); 
    });
</script>

<div id="users">
        <div class="title">${_('Add a New User') if user.index < 0 else _('Edit User') + (' #') + str(user.index+1)}</div>
        <div style="display: inline-block; box-sizing: border-box; vertical-align: top; min-width: 50%">
            <p>$_('Public')$_('= only a viewer with restricted settings.')</p> 
            <p>$_('User')$_('= instructed user with limited settings.')</p>
            <p>$_('Administrator')$_('= system administrator without restrictions.')</p><br>
            <form name="userForm" id="userForm" method="post">
                <input type="hidden" name="index" value="${user.index}">
                <table class="optionList" style="background: #F5F5F5;">
                    <tr>
                        <td style='text-transform: none;'>$_(u'New User Name'):</td>
                        <td title=$:{json.dumps(_(u'Type new User Name for new user'), ensure_ascii=False)}>  
                            <input name="name" type="text" minlength="5" value="${user.name}" style="width: 140px">    
                        </td>
                    </tr> 
                    <tr>
                        <td style='text-transform: none;'>$_(u'New User Password'):</td>
                        <td title=$:{json.dumps(_(u'Type new User Password for new user'), ensure_ascii=False)}>  
                            <input name="password" type="password" minlength="5" required value="" style="width: 140px">  
                        </td>
                    </tr>  
                    <tr>
                        <td style='text-transform: none;'>$_(u'User Category'):</td>
                        <td title=$:{json.dumps(_(u'Select permissions for the new user'), ensure_ascii=False)}>  
                            <select name="category" width="140" style="width: 140px" size="1">
                                <option value="0" ${"selected" if user.category==0 else ""}>$_(u'Public')</option>
                                <option value="1" ${"selected" if user.category==1 else ""}>$_(u'User')</option>
                                <option value="2" ${"selected" if user.category==2 else ""}>$_(u'Administrator')</option>
                            </select> 
                        </td>
                    </tr>  
                    <tr>
                        <td style='text-transform: none;'>$_(u'Notes about user'):</td>
                        <td title=$:{json.dumps(_(u'Here we can make our notes'), ensure_ascii=False)}>  
                            <textarea style="font-family: monospace;" rows="1" cols="20" name="notes" maxlength="150">${user.notes}</textarea>
                        </td>
                    </tr>                                                                                  
                </table>         
            </form>
        </div>     
</div>

<div id="controls">
    <button id="cSubmit" class="submit"><b>$_('Save')</b></button>
    <button id="cCancel" class="cancel danger">$_('Cancel')</button>
    <span id="errorHint"></span>
</div>