#Service for OSPy running on Pidora (or other RHEL/Fedora variant) as a SystemD service
#
[Unit]
Description=OpenSprinkler Python
After=syslog.target network.target
[Service]
ExecStart=/usr/bin/python -u /home/pi/OSPy/run.py
Restart=on-abort
#KillMode=process
WorkingDirectory=/home/pi/OSPy
SyslogIdentifier=OSPy
[Install]
WantedBy=multi-user.target
