[Unit]
Description=OpenSprinkler Python 3

[Service]
WorkingDirectory="{{OSPY_DIR}}"
ExecStart=/usr/bin/python3 run.py
KillMode=process

[Install]
WantedBy=multi-user.target